div {
    border-radius: 5px;
}

#header {
    position: fixed;
    z-index: 1;
    width: 98.5%;
    height: 60px;
    background-color: #ff0000;
    margin-top: -20px;
}

.left {
    float: left;
    width: 30%;
    height: 400px;
    background-color: #B9D7D9;
    margin-top: 50px;
}

.right {
    float: right;
    width: 60%;
    height: 400px;
    background-color: #F4EBC3;
    margin-top: 50px;
}

#footer {
    /*position: relative;*/
    clear: both;
    height: 60px;
    background-color: #668284;
    margin-top: 500px;
}